<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <title>Bookstore</title>
</head>
<body>
    <h1>Welcome, User</h1>

    <!-- Form for adding new Books -->
    <form action="/api/v1/Books/add" method="post">
        <input type="text" name="author" placeholder="Author" required>
        <input type="text" name="isbn" placeholder="ISBN" required>
        <input type="text" name="price" placeholder="Price"required>
        <input type="text" name="stock" placeholder="Stock"required>
        <button type="submit">Add Book</button>
    </form>

    <!-- Book list -->
    <ul>
        {{ range $index, $book := .Books }}
            <li>
                <form action="/api/v1/Books/toggle" method="post" style="display:inline;">
                    <input type="hidden" name="index" value="{{ $index }}">
                    <input type="checkbox" {{ if $book.InStock }}checked{{ end }} onchange="this.form.submit()">
                </form>
                {{ if $book.InStock }}
                    <del>{{ $book.InStock }}</del>
                {{ else }}
                    {{ $book.InStock }}
                {{ end }}
            </li>
        {{ end }}
    </ul>

</body>
</html>
